@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  background-color: #64748b;
  margin: 0%;
  padding: 0%;
}

@media only screen and (max-width: 600px) {
  .flex-row {
    flex-direction: column;
  }
  .w-1\/2 {
    width: 100%;
  }

  .w-1\/2 {
    width: 100%;
  }

  .mb-0 {
    margin-bottom: 1rem;
  }

  .ml-2 {
    margin-left: 0;
  }

  .mr-2 {
    margin-right: 0;
  }
}
